
@{
    ViewBag.Title = "課表";
    Session["account"] = "10334";
}

@section CSS{
    <link href="~/Content/table.min.css" rel="stylesheet" />
    <style>
        *{
            font-family:'Microsoft JhengHei'
        }

        body{
            overflow-x:hidden;
        }

        #main-table{
            position:absolute;
            top:150px;
            left:0;
            right:0;
            margin:auto;
            width:800px;
        }

        #main-table thead th{
            text-align:center;
            font-size:28px;
        }

        #main-table tbody td{
            font-size:18px;
            position:relative;
        }

        #main-table td.time{
            text-align:center;
            height:50px;
            line-height:50px;
        }

        .class-detail{
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            z-index:1;
        }

        .add-class{
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            z-index:1;
            cursor:pointer;
            text-align:center;
            transition:opacity 0.3s;
            opacity:0;
        }

        .add-class:hover{
            opacity:0.5;
        }

        .popover{
            max-width:300px;
            white-space:nowrap;
        }

        .delete-class{
            cursor:pointer;
        }
    </style>
}

<div class="modal fade" id="add-class-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">新增課程</h4>
            </div>
            <div class="modal-body">                
                課程名稱：<input class="form-control" type="text" id="class-name"/>
                教室：<input class="form-control" type="text" id="class-room"/>
                教師：<input class="form-control" type="text" id="teacher"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                <button type="button" id="add-class-submit" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>

<table class="ui celled table" id="main-table">
    <thead>
        <tr>
            <th>時間</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            <td class="time">8:10~9:00</td>
            <td>
                <span>計算機結構</span><br>
                <span>忠104</span>
                <div class="class-detail" data-toggle="popover" data-trigger="click" title="課程資訊" data-content="計算機結構<br>忠104<br>教師：陳青文<hr><span class=&quot glyphicon glyphicon-trash &quot></span>"></div>
            </td>
            <td>三</td>
            <td>四</td>
            <td>五</td>
            <td>六</td>
            <td>七</td>
        </tr>*@
        
    </tbody>
</table>

<script>
    var times = ["8:10~9:00", "9:10~10:00", "10:10~11:00", "11:10~12:00", "12:10~13:00", "13:10~14:00", "14:10~15:00",
        "15:10~16:00", "16:10~17:00", "17:10~18:00", "18:10~19:00", "19:10~20:00", "20:10~21:00", "21:10~22:00"]
    var $table = $('#main-table tbody')
    var curRow, curCol

    function deleteClassEvent(trash) {
        
        var td = $(trash).parents('td')
        console.log(td)
        $.post('/Curriculum/DeleteClass', {
            row: td.data('row'),
            col: td.data('col')
        }, function () {

            refreshTable()
        })
    }

    function refreshTable() {
        $table.html('')
        $.getJSON('/Curriculum/CurData', function (data) {
            console.log(data)

            var i = 0 //data's index
            for (var row = 1; row <= 14; row++) {
                var tr = '<tr>'
                tr += '<td class="time">' + times[row - 1] + '</td>'
                for (var col = 1; col <= 6; col++) {
                    if (i < data.length && data[i].row == row && data[i].col == col) {
                        tr += '<td data-row="' + row + '" data-col="' + col + '">'
                        tr += '<span>' + data[i].class_name + '</span><br>'
                        tr += '<span>' + data[i].class_room + '</span>'
                        tr += '<div class="class-detail" data-toggle="popover" data-trigger="click" title="課程資訊" data-content="' + data[i].class_name + '<br>' + data[i].class_room
                        if (data[i].teacher != null) {
                            tr += '<br>教師：' + data[i].teacher
                        }
                        tr += '<hr><span onclick=&quot deleteClassEvent(this) &quot class=&quot glyphicon glyphicon-trash delete-class&quot></span>"></div></td>'
                        i++
                    }
                    else {
                        tr += '<td data-row="' + row + '" data-col="' + col + '"><div class="add-class"">點擊新增</div></td>'
                    }
                }
                tr += '</tr>'
                $table.append(tr)
            }

            $('.class-detail').popover({ html: true })
            $('.add-class').each(function () {
                $(this).css('line-height', $(this).height() + "px");
            }).click(function () {
                var td = $(this).parent('td')
                curRow = td.data('row')
                curCol = td.data('col')
                $('#add-class-modal').modal('show')
            })
        })        
    }

    refreshTable()

    $('#add-class-submit').click(function () {
        $.post('/Curriculum/AddClass', {
            row: curRow,
            col: curCol,
            teacher: $('#teacher').val(),
            className: $('#class-name').val(),
            classRoom: $('#class-room').val()
        }, function () {
            $('#add-class-modal').modal('hide')
            $('#teacher').val('')
            $('#class-name').val('')
            $('#class-room').val('')
            refreshTable()
        })
    })

</script>